
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
.footer {
    background-color: #481161;
    padding-top: 40px;
    padding-bottom: 20px;
    font-family: 'Oxygen', sans-serif;
    color: antiquewhite;

  }
  
  .footer-logo {
    margin-bottom: 20px;
  }
  
  .logo-text {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .footer-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    
  }
  
  .footer-contact {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-contact li {
    margin-bottom: 10px;
    
  }
  
  .footer-icon {
    margin-right: 5px;
  }
  
  .footer-links {
    list-style: none;
    padding-left: 0;
  }
  
  .footer-links li {
    margin-bottom: 8px;
  }
  
  .footer-links a {
   
    text-decoration: none;
  }
  
  .footer-links a:hover {
    color: white
  }
  