
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');


.text{
    font-size: 1.0rem;
    font-family: 'Oxygen', sans-serif; 
    
}
.navbar-brand > span:nth-child(2){
    font-size: 1.1rem;
    
}
.navbar {
    background-color: #481161; /* Set the background color */
    box-shadow: 0 4px 6px -2px rgba(236, 233, 233, 0.1), 0 2px 4px -1px rgba(243, 241, 241, 0.06); /* Add a border shadow */

  }
  
  .navbar-nav .nav-link:hover {
    background-color: rgb(216, 140, 0); /* Add background color on hover */
    transition: background-color 0.2s ease-in; /* Add smooth transition effect */
    
  }
  .navbar-nav .nav-item {
    margin-left: 50px; /* Adjust the spacing as per your preference */
  }
  
  .navbar-nav .nav-link {
    padding: 10px; /* Adjust the padding as per your preference */
    color: whitesmoke;
  }
  html body div#root nav.navbar.navbar-expand-lg.navbar-light.bg-light.text div.container.mx-2 div#navbarNav.offcanvas.offcanvas-end div.offcanvas-body ul.navbar-nav.ms-auto.pe-3{
    margin-right: -130px;
  }
 
 